version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: codeigniter-app
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
      - ./docker/php/php.ini:/usr/local/etc/php/conf.d/custom.ini
    environment:
      - XDEBUG_MODE=develop,debug
      - XDEBUG_CONFIG=client_host=host.docker.internal client_port=9003
    extra_hosts:
      - "host.docker.internal:host-gateway"
    working_dir: /var/www/html
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
